body {
  font-family: Arial, sans-serif;
  margin: 0;
  /* padding: 70px 0 60px; */
  background-color:#abdef8;
}

/* Container principal */
.container-novo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto 80px auto;
  margin-top: 30px; /* Aumente esse valor conforme necessário */
  padding: 20px;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  gap: 40px;
}

.left-column,
.right-column{
  flex: 1 1 50%;
  max-width: 50%;
  box-sizing: border-box;
}

/* Texto de contato */
.left-column h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.linha-degrade {
  height: 2px;
  width: 100px;
  margin: 5px 0 20px 0; /* alinhada à esquerda */
  border-radius: 2px;
  background: linear-gradient(to right, transparent, #fc9403, transparent);
}

.left-column p {
  font-size: 16px;
  line-height: 1.6;
  margin: 8px 0;
}

/* Formulário */
.right-column form {
  display: flex;
  flex-direction: column;
}

.input-duplo {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.input-duplo input {
  flex: 1;
}

.right-column input,
.right-column textarea {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  box-sizing: border-box;
  resize: vertical;
  margin-bottom: 10px;
}

.right-column button {
  padding: 12px;
  background-color: #005baa;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.right-column button {
  width: 150px;
  align-self: flex-start;
  margin-top: 16px; /* espaço acima do botão */
}

.right-column button:hover {
  background-color: #004080;
}

.upload-label {
  margin: 10px 0;
  display: block;
}

i,
svg.lucide {
  color: #fc9403;
  stroke: #fc9403;
  vertical-align: middle;
  margin-right: 8px;
}

.opcional {
  font-style: italic;
  font-weight: normal;
  color: #aaa;
  font-size: 14px;
  margin-left: 4px;
}

.linha-dupla {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.linha-dupla .form-group {
  flex: 1;
  min-width: 200px;
}

.left-column a {
  color: black;
  text-decoration: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.btn-enviar.spin svg {
  animation: spin 1s linear infinite;
}
