.select2-results__option .flag-option {
  display: flex;
  align-items: center;
}
.select2-results__option .flag-option img {
  width: 20px;
  height: 14px;
  margin-right: 8px;
}
.select2-selection__rendered img {
  width: 20px;
  height: 14px;
  margin-right: 6px;
  vertical-align: middle;
}
