footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #0000d1; /* Azul ENENG */
    color: white !important;
    text-align: left;
    padding: 0px 6px;
    font-size: 14px;
    font-family: sans-serif;
    z-index: 1000;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 1rem; */
}

#user-email-display {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap;
}

/* .footer-wrapper {
    max-width: 1800px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
} */

footer p {
    margin: 0;
    padding: 4px 0; /* opcional: dá um espacinho interno controlado */
}

/* ========== RESPONSIVO: FOOTER ========= */
@media (max-width: 768px) {
    .footer-wrapper {
        flex-direction: column;
        text-align: center;
        padding: 8px 0;
        gap: 5px;
    }

    .versao {
        font-size: 13px;
    }

    #footer_copyright {
        font-size: 13px;
    }
}
