/* Estilos do Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fc9403;
    color: white;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid black;
    width: 80%;
    max-width: 600px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    font-family: sans-serif;
    font-weight: bold;
}

.modal-content h2 {
    margin-top: 0;
    color: black;
    margin-bottom: 10px;
}

.modal-content p {
    font-weight: bold;
    line-height: 2;
    color: black;
}

.close-modal {
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.close-modal:hover {
    color: #333;
}

/* Estilo do botão Aviso Legal */
.btn-aviso {
    background-color: #ff0505;
    color: white;
    border: none;
    padding: 0.5rem 1.2rem;
    font-size: 1rem;
    font-family: sans-serif;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn-aviso:hover {
    background-color: #020272;
    color: white;
}
